/* override bootstrap styles */
@import url('http://fonts.googleapis.com/css?family=Oswald:300,400:latin,latin-ext');

.navbar-form input, .form-inline input {
  width:auto;
}

body {
  padding-top:50px;
  color:#646464;
  background-color:#efefef;
}

h1,h2,h3,.highlight,.navbar a,#masthead h4 {
  font-family:'Oswald',arial narrow,sans-serif;
}

footer {

  margin-top:40px;
  padding-top:40px;
  padding-bottom:40px;
  background-color:#cecece;
 
}


#masthead {
  min-height:199px;
  background-color:#000044;
  color:#aaaacc;
}

#masthead h1 {
  font-size: 55px;
  line-height: 1;
  color:#fefeff;
  margin-top:50px;
}

#masthead .well {
  margin-top:31px;
  background-color:#111166;
  border-color:#000022;
  color:#efefff;
  min-height:127px;
}

#topPanel {
  padding-top:0px;
  padding-left:22px;
  padding-right:22px;
}
#topPanel .panel-body {
  padding-top:0px;
}

.navbar.affix {
  position:fixed;
  top:0;
  width:100%;
}

.top-spacer {
  background-color:#ffffff;
  height:40px;
}

a,a:hover {
  color:#223344;
  text-decoration:none;
}

.icon-bar {
  background-color:#fff;
}

@media screen and (min-width: 768px) {
  #masthead h1 {
    font-size: 80px;
  }
}

.navbar-bright {
  background-color:#111166;
  color:#fff;
  margin-bottom: 0;
  border-width: 0;
}

.navbar-bright a, .navbar-bright .navbar-brand, #masthead h4 {
  color:#ccccdd;
  font-size:14px;
  text-transform: uppercase;
  letter-spacing:.08em;
}

.navbar-bright li > a:hover {
  background-color:#000044;
}

.dropdown-menu {
  min-width: 250px;
}

.caret {
  color:#fff;
}

.navbar-toggle {
  color:#fff;
  border-width:0;
}

.navbar-toggle:hover {
  background-color:#fff;
}

.panel {
  border-color:transparent;
  border-radius:0;
}

.thumbnail {
  margin-bottom:8px;
}

.img-container {
  overflow:hidden;
  height:170px;
}

.img-container img {
  min-width:280px;
  min-height:180px;
  max-width:380px;
  max-height:280px;
}

.txt-container {
  overflow:hidden;
  height:100px;
}

.panel .lead {
  overflow:hidden;
  height:90px;
}

.label-float{
  margin:0 auto;
  position: absolute;
  top: 0;
  z-index: 1;
  width:100%;
  opacity:.9;
  padding:6px;
  color:#fff;
}
    
.btn-twitter {background-color:#4099FF;color:#fff;}
.btn-facebook {background-color:#3B5998;color:#fff;}
.btn-google-plus {background-color:#d34836;color:#fff;}

.btn-twitter:hover {background-color:#3088FF;color:#62BBFF;}
.btn-facebook:hover {background-color:#2A4998;color:#4C6BBA;}
.btn-google-plus:hover {background-color:#C23836;color:#E45A58;}


.Login-container
{
    max-height: 500 px;
    height: 45em;
    /* background-image: url(../images/lib_image2.jpg); */
}

.home-ft-height
{
    height: 1 rem;

}

.navbar-color
{
    background: #de5285;
}

.Login-row
{
    /* background-color: #C5CAE9; */
    height: 40em;
    border :#283593 4px solid;
}

.signup-row
{
    /* background-color: #C5CAE9; */
    height: 48em;
    border :#283593 4px solid;
}


.login-label
{
    color :#1A237E;
    /* font-family : cursive; */
}

.table-container
{
    /* background-color: white; */
    background-image: url(../images/lib_image1.jpg); 
    min-height: 660px;
}

.addPage-row
{
    /* background-color: #C5CAE9; */
    height: 35em;
    border :#283593 4px solid;
}

.addPage-label
{
    color :#1A237E;
    /* font-family : cursive; */
}

.addPage-row
{
    /* background-color: #C5CAE9; */
    height: 40em;
    border :#283593 4px solid;
}

.addPage-label
{
    color :#1A237E;
    /* font-family : cursive; */
}


.editPage-row
{
    /* background-color: #C5CAE9; */
    height: 40em;
    border :#283593 4px solid;
}

.EditPage-label
{
    color :#1A237E;
    /* font-family : cursive; */
}

.EditPage-row
{
    /* background-color: #C5CAE9; */
    height: 35em;
    border :#283593 4px solid;
}

.EditPage-label
{
    color :#1A237E;
    /* font-family : cursive; */
}
/** home page **/

.home-exp-container-bg
 {
    /* background-image: url('../images/Bookshelf.jpg');    */
    /* background: rgb(188, 221, 233); */
    /* width :100%;  */
    z-index: -1; 
}

.home-exp-title
{
    font-family: fantasy;
   color:#0B0B61;
}

.item:hover .cover {
  opacity: 1
}

.item {
  margin-bottom: 1rem;
}

.item .box {
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 25 rem;
  position: relative;
  overflow: hidden
}

.item .cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.15s ease-in;
  opacity: 0;
  padding-top: 80px;
  color: black;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15)
}

.item:hover .cover {
  opacity: .95;
}

.item .name {
  font-weight: bold;
  margin-bottom: 8px;
  font-family: cursive;
}

.item .description {
  text-indent: justify;
  letter-spacing: 2px;
  font-size: 13px;
  margin-bottom: 20px;
  padding-left: .5rem;
  font-family: sans-serif;
}

.exp-carousal-height
{
    max-height: 50 rem;
}

.district-title-name
{
    font-family: fantasy;
   color:#0B0B61;
   background-color: #66d6e5;
}

.district-subnavbar
{
   background-color: #B3E5FC;
}

.district-about-container-height
{
    max-height: 30 px;
    background-image: url(../Images/summer-nature-wallpaper-3_edited.png);
    /* background-color: #80DEEA; */
    /* background-color: #A9F5D0; */
}

.district-about-img-height
{
    max-height: 25 rem;
}

.district-about-row-bg
{
    /* background-color: #E0F8F1; */
    background-color: #e8fcee;
}

/* Things to do */

.district-to-do-card
{
    height:  250px;
}

.district-to-do-container-height
{
    max-height: 50 px; 
    background-color: #66d6e5;
}

.district-to-do-row-bg
{
    /* background-image: url(../Images/summer-nature-wallpaper-3_edited.png); */
    background-color: #bdedf5;
    width: 100%;
    max-height: 48 px; 
}



.district-to-do-card-title
{
    font-family: fantasy;
   color:#0B0B61;
}

.district-to-do-card-content
{
    background-color: #e9f9fc;
    height: 20rem;
    /* background-color: #F9FBE7; */
}

/****  validation  ***/
.box {
    width: 100px;
    height: 30px;
    background: rgba(255, 130, 165, 0.9);
  }
  
  .balloonError {
    display: table;
    position: relative;
    background-color: #F8E0E0;
    color: #DF0101;
    border: 2px solid #DF0101;
    padding: 0 0.5em;
    border-radius: 4px;
    margin-bottom: 9px;
  }
  .balloonError::before, .balloon::after {
    position: absolute;
    content: "";
    border: 10px solid transparent;
    border-bottom-width: 0;
    left: 30px;
  }
  .balloonError:before {
    border-top-color: #DF0101;
    top: 45px;
  }
  .balloonError:after {
    border-top-color: #fff;
    top: 25px;
    z-index: 1;
  }
  
  .balloonWarning {
    display: table;
    position: relative;
    color: #FF7043;
    background-color: #FBE9E7;
    border: 2px solid #FF7043;
    padding: 0 0.5em;
    border-radius: 4px;
    margin-bottom: 9px;
  }
  .balloonWarning::before, .balloon::after {
    position: absolute;
    content: "";
    border: 10px solid transparent;
    border-bottom-width: 0;
    left: 30px;
  }
  .balloonWarning:before {
    border-top-color:#FF7043;
    top: 45px;
  }
  .balloonWarning:after {
    border-top-color: #fff;
    top: 25px;
    z-index: 1;
  }
  
  .balloonStrong {
    display: table;
    position: relative;
    color: #044903;
    background-color: #e6ffe6;
    border: 2px solid #044903;
    padding: 0 0.5em;
    border-radius: 4px;
    margin-bottom: 9px;
  }
  .balloonStrong::before, .balloon::after {
    position: absolute;
    content: "";
    border: 10px solid transparent;
    border-bottom-width: 0;
    left: 30px;
  }
  .balloonStrong:before {
    border-top-color: #044903;
    top: 45px;
  }
  .balloonStrong:after {
    border-top-color: #fff;
    top: 25px;
    z-index: 1;
  }